@model SeriesMvc.Models.MovieActorCategoryViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Actors")
        </dt>
        <dd class="col-sm-10">
            @if (Model.Actors != null && Model.Actors.Any())
            {
                <ul>
                    @foreach (var actor in Model.Actors)
                    {
                        <li>@actor</li>
                    }
                </ul>
            }
            else
            {
                <span>No actors available</span>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayName("Categories")
        </dt>
        <dd class="col-sm-10">
            @if (Model.Categories != null && Model.Categories.Any())
            {
                <ul>
                    @foreach (var category in Model.Categories)
                    {
                        <li>@category</li>
                    }
                </ul>
            }
            else
            {
                <span>No categories available</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
